
:root {

    --corPrincipal: #3C82C0;
    --corBranco: #FFFFFF;
    --corAzulClaro: #96BBDC;
    --corCinzaEscuro: #5E5E5E;
    --corPreto: #000000;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque:
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: var(--corBranco);
    color: var(--corCinzaEscuro);
    height: 100vh;
    width: 100vw;

}

header {
    background-color: #3C82C0;
    height: 50px;
}

#frase {
    display: none;
}

main {
    
    position: relative;
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

section#login {

    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column; 
    overflow: hidden;

}

section#login > div#imagemCoruja {

    background: url('../imagens/skoob.jpg') no-repeat center;
    background-size: 80%; 
    background-position: center;
    width: 100%; 
    height: 40%; 
}



div#formulario > h1 {

    text-align: start;
    margin-bottom: 10px;
    font-size: 1.5em;

}

div#formulario > p {

    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: justify;

}


div#campo > input {

    background-color: var(--corBranco);
    font-size: 1em;
    width: 100%;
    height: 90%;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transform: translateY(-3.5px);

}

form {
    display: flex;
    flex-direction: column;

}


form > input[type=submit] {
    
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--corPrincipal);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.405);
}

form > input[type=submit]:hover {

    background-color: var(--corPreto);
    color: var(--corBranco);
}

a {
    text-decoration: none;
    color: var(--corPrincipal);

}

a:hover {
    color: var(--corPreto);
}

a.botao {
    color: var(--corCinzaEscuro);
    font-size: 0.8em;
    text-align: start;
    margin-bottom: -5px;
}

a.botao:hover {
    color: var(--corPreto);
}


h2 {
    font-size: 0.9em;
    margin-top: 10px; 
    font-family: var(--fontePadrao);
    text-align: center;

}

